@model UsersProfiles

@{
    ViewBag.Title = "Usuarios";
}

@section styles{}


<div class="container-fluid flex-grow-1 container-p-y">


    <div class="row">
        <div class="col  py-1">
            <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" href="#modalAuthNew" data-userid="0">
                <i class="fa fa-plus"></i> Nuevo Usuario
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    @*<form id="frmUsers" asp-antiforgery="true" asp-action="users">*@

                    @if (Model.usersprofiles.Count() == 0)
            {
                <div class="card">
                    <div class="card-body text-center bg-warning">
                        <i class="far fa-map d-block display-2"></i>
                    </div>
                    <div class="p-1 text-center">
                        <p class="text-semibold text-lg text-main text-uppercase">AREAS</p>
                        <p class="h1 text-thin mar-no">0</p>
                        <p class="text-sm text-overflow pad-top">
                            <span class="text-bold">NO</span> datos encontrados
                        </p>
                    </div>
                </div>
                        }
                        else
                        {
                            <div class="card-datatable table-responsive">
                                <table id="tbUsers" class="table table-striped table-bordered table-hover font80" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Usuario</th>
                                            <th>Email</th>
                                            <th>Codigo</th>

                                            <th>Telefono</th>
                                            <th>Ext</th>
                                            <th>Activo</th>
                                            @*<th>Area</th>*@
                                            <th>Dept</th>
                                            <th>Nivel</th>
                                            <th>Ofic</th>
                                            @*<th>Tipo</th>*@

                                            @*
                                        <th>Pf</th>
                                        <th>Lg</th>
                                            *@
                                            <th>Auth</th>
                                            <th>Prof</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbRows">
                                        @foreach (UserProfile user in Model.usersprofiles)
                                {
                                    <tr>
                                        @*<td data-title="Id">@user.Id</td>*@
                                        <td>@user.ProfileId</td>
                                        <td>@user.Nombre</td>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td>@user.Codigo</td>

                                        <td>
                                            @user.PhoneFmt
                                        </td>
                                        <td>@user.Extension</td>

                                        <td>
                                           
                                            <label class="custom-control custom-control-sm custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input" @(user.Activo ? "checked" : "") disabled id='@("Active" + user.ProfileId)' />
                                                <span class="custom-control-label"></span>
                                            </label>

                                            <span class="d-none">@user.Activo</span>


                                        </td>
                                        @*<td data-title="Area">@user.roles[0]</td>*@
                                        <td>@user.roles[1]</td>
                                        <td>@user.roles[2]</td>
                                        <td>@user.roles[3]</td>
                                        @*<td data-title="Tipo">@user.roles[4]</td>*@
                                        @*<td data-title="Pf Id">@user.ProfileId</td>
                                    <td data-title="Lg Id">@user.LoginId</td>*@

                                        <td data-title="Auth">
                                            <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modalAuth" data-userid="@user.Id"><i class="fa fa-edit"></i> Auth</button>
                                        </td>
                                        <td data-title="Prof">
                                            <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#modalProf" data-userid="@user.Id" data-nombre="@user.Nombre"><i class="fa fa-edit"></i> Profile</button>
                                        </td>

                                    </tr>
                        }

                </tbody>


            </table>
        </div>
}
                    @*</form>*@
                </div>
            </div>
            
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalAuth">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="disTitle">
                    <i class="fa fa-user"></i>&nbsp;&nbsp; Información básica del usuario
                </h4>
            </div>
            <div class="modal-body bg-lighter">

                <div class="row">

                    <div class="col">

                        <form id="Edit">

                            @*<div asp-validation-summary="All" class="text-danger"></div>*@

                            <div class="form-group">
                                <label class="form-label form-label-sm">Id</label>
                                <input id="Id" class="form-control form-control-sm" disabled />
                            </div>
                            <div class="form-group">
                                <label class="form-label form-label-sm">Codigo</label>
                                <input id="Codigo" class="form-control form-control-sm" disabled />
                            </div>

                            <div class="form-group">
                                <label class="form-label form-label-sm">Nombre</label>
                                <input id="NombreA" class="form-control form-control-sm" disabled />
                            </div>

                            @*<div class="form-group">
                           <label class="custom-control custom-checkbox" for="Activo">
                               <input type="checkbox" class="custom-control-input" checked="" id="Activo">
                               <span class="custom-control-indicator"></span>
                               Activo
                           </label>
                        </div>*@

                            <div class="form-group">
                                <label class="form-label form-label-sm">Usuario</label>
                                <input id="UserNameA" class="form-control form-control-sm" disabled />
                            </div>
                            <div class="form-group">
                                <label class="form-label form-label-sm">Email</label>
                                <input ID="EmailA" class="form-control form-control-sm" disabled />
                            </div>
                            <div class="form-group">
                                <label class="form-label form-label-sm">Password</label>
                                <input id="Password" type="password" class="form-control form-control-sm" required placeholder="******" />
                                @*<span asp-validation-for="Password"></span>*@

                            </div>

                        </form>
                                                                       

                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success btn-sm pull-right" id="btnUpdate"><span class="fa fa-save"></span> Save</button>
                <button class="btn btn-default btn-sm pull-right" data-dismiss="modal"><span class="fa fa-close"></span> Close</button>

            </div>

            </div>

        </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<!-- /.modal -->

<!-- Modal -->

<div class="modal fade" id="modalAuthNew">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="disTitle">
                    <i class="fa fa-user"></i>&nbsp;&nbsp;
                    Nuevo Usuario
                </h4>
            </div>
            <div class="modal-body  bg-lighter">

                <div class="row">

                    <div class="col">

                        <form id="AddUser">

                            @*<div asp-validation-summary="All" class="text-danger"></div>*@

                            <div class="form-group">
                                <label class="form-label form-label-sm">Nombre</label>
                                <input id="NombreNew" class="form-control form-control-sm" required />
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="form-label form-label-sm">Codigo</label>
                                        <input id="CodigoNew" class="form-control form-control-sm" placeholder="000AAAA" maxlength="7" required />
                                    </div>
                                    <div class="col-md-6">
                                        <div id="divcodigos"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label form-label-sm">Usuario</label>
                                <input id="UserNameNew" class="form-control form-control-sm" required />
                            </div>

                            <div class="form-group">
                                <label class="form-label form-label-sm">Password</label>
                                <input id="PasswordNew" class="form-control form-control-sm" required />
                            </div>

                        </form>

                    </div>


                </div>

            </div>
            <div class="modal-footer">

                <button class="btn btn-success btn-sm pull-right" id="btnSaveNew"><span class="fa fa-save"></span> Save</button>
                <button class="btn btn-default btn-sm pull-right" data-dismiss="modal"><span class="fa fa-close"></span> Close</button>

            </div>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<!-- /.modal -->

<!-- Modal -->
<div class="modal modal-top fade" id="modalProf">

    <div class="modal-dialog modal-90">

        <div class="modal-content">
            <div class="modal-header py-3 bg-light">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnClose">
                  <i class="ion ion-md-close-circle"></i>
                </button>
                <h4 class="modal-title" >
                    <i class="pe-7s-user"></i> <span id="profTitle">Datos del Usuarios</span> 
                </h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-7">

                        <div class="card border-dark">
                            <div class="card-header bg-info-dark text-white border-0">
                               <i class="pe-7s-user"></i>  Profile
                            </div>

                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-sm-5">

                                        <input id="userId" class="form-control " type="hidden" />
                                        <input id="loginId" class="form-control form-control-sm" type="hidden" />

                                        <div class="form-group">
                                            <label for="ProfileIdPf" class="form-label form-label-sm">Profile Id</label>
                                            <input id="ProfileIdPf" class="form-control form-control-sm" disabled />
                                        </div>

                                        <div class="form-group">
                                            <label for="CodigoPf" class="form-label form-label-sm">Codigo</label>
                                            <input id="CodigoPf" class="form-control  form-control-sm text-uppercase" disabled />
                                        </div>

                                        <div class="form-group">
                                            <label for="UserNamePf" class="form-label form-label-sm">Usuario</label>
                                            <input id="UserNamePf" class="form-control form-control-sm" disabled />
                                        </div>

                                        <div class="form-group ">
                                            <label for="EmailPf" class="form-label form-label-sm">Email</label>
                                            <input id="EmailPf" class="form-control form-control-sm" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="twitterPf" class="form-label form-label-sm">twitter</label>
                                            <input id="twitterPf" class="form-control form-control-sm" />
                                        </div>
                                        <div class="form-group">
                                            <label form="facebookPf" class="form-label form-label-sm">facebook</label>
                                            <input id="facebookPf" class="form-control form-control-sm" />
                                        </div>
                                        <div class="form-group">
                                            <label for="instagramPf" class="form-label form-label-sm">instagram</label>
                                            <input id="instagramPf" class="form-control form-control-sm" />
                                        </div>
                                        <div class="form-group">
                                            <label for="linkedInPf" class="form-label form-label-sm">linkedIn</label>
                                            <input id="linkedInPf" class="form-control form-control-sm" />
                                        </div>

                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label class="custom-control  custom-control-sm custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="ActivePf">
                                                <span class="custom-control-label">Activo</span>
                                            </label>

                                        </div>

                                        <div class="form-group">
                                            <label for="NombrePf" class="form-label form-label-sm">Nombre</label>
                                            <input id="NombrePf" class="form-control form-control-sm" />
                                        </div>


                                        <div class="form-group">
                                            <div id="divSupervisor"></div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    <label for="PhonePf" class="form-label form-label-sm">Telefono</label>
                                                    <input id="PhonePf" class="form-control form-control-sm" placeholder="(999) 999-9999" data-mask="(999) 999-9999" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="ExtensionPf" class="form-label form-label-sm">Ext</label>
                                                    <input id="ExtensionPf" class="form-control form-control-sm" placeholder="999" data-mask="999" />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <div id="divPhProveedores"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div id="divContactosPerm" class="p-sm"></div>
                                        </div>

                                      


                                        <div class="form-group pull-right">
                                            <button class="btn btn-success btn-sm" id="btnUpdatePf"><span class="fa fa-save"></span> Actualizar</button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-5">

                        <div class="card border-dark">

                            <div class="card-header bg-info-dark text-white border-0">
                                <i class="fa fa-id-card"></i>
                                Tarjetas de Entrada
                            </div>

                            <div class="card-body  bg-light">

                                <div class="row col">

                                    <div class="col-sm-3">
                                        <label for="card" class="form-label form-label-sm">Tarj Num</label>
                                    </div>
                                    <div class="form-group col-sm-5">

                                        <input type="text" id="card" name="card" class="form-control form-control-sm entrycard" required data-mask="9999999999" />

                                    </div>
                                    <div class="col-sm-2"><button class="btn btn-xs btn-primary" id="newCard" onclick="var er = EntryCardsG.NewCard(this);"><span class="fa fa-plus"></span> Add</button></div>
                                    <div class="col-sm-2"><button class="btn btn-xs btn-default cancelCard" id="cancelNewCard" onclick="var er = EntryCardsG.CancelNewCard(this);"><span class="fa fa-close"></span>  Cancel</button></div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="divEntryCards"></div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="card border-dark mt-3">

                            <div class="card-header bg-info-dark text-white border-0">
                                <i class="fa fa-user-plus"></i> Roles
                            </div>

                            <div class="card-body  bg-light">
                                
                                <div class="row">
                                    
                                        <div class="form-group col-sm-8">
                                            <div id="divRolesId"></div>
                                        </div>

                                        <div class="col-sm-2 p-1">
                                            <button class="btn btn-sm btn-primary activeRoles pull-right" id="newRoles" onclick="var r = RolesG.NewRoles();"><span class="fa fa-plus"></span> Add Role</button>
                                        </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div id="divRoles">
                                            <!--table data-tableRoles-->
                                        </div>
                                    </div>
                                 </div>           


                                </div>


                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                @*<a class="btn btn-success btn-sm" id="btnSaveProf"><span class="fa fa-save"></span> Actualizar</a>*@
                <a class="btn btn-default btn-sm" data-dismiss="modal"><span class="fa fa-close" id="btnCloseB"></span> Close</a>
            </div>
        </div>

    </div>
    <!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<!-- /.modal -->


@section scripts{

    <script src="~/assets/jseam/entrycards.js"></script>
    <script src="~/assets/jseam/roles.js"></script>
    <script src="~/assets/jseam/users.js"></script>

    <script>

            $(document).ready(function () {

            $('#pageTitle').html(`
                    <div class="media-body mx-3">
                         <h5 class="mb-1">
                            <a href="javascript:void(0)" class="text-white text-expanded">
                              <i class="pe-7s-users"></i> Usuarios
                            </a>
                        </h5>
                        <div class="text-white text-tiny">Información básica de usuarios</div>
                 </div>`
            );

            $('html').addClass('layout-collapsed');

            //Codigos
            //$('.selectpicker').selectpicker('render');

            $("#" + UsersG.settingsTable.id).DataTable(UsersG.settingsTable.config);

            //if ("@@Model.resp.route[1].valor" === 'true') {
            //    var table = $("#" + UsersG.settingsTable.id).DataTable();
            //    table.ajax.reload();
            //}

            if ("@Model.resp.route[0].valor" !== "") {
                  $('.dataTables_filter input').val(@Model.resp.route[0].valor);
            }

            let uinit = UsersG.bindUIActions();
            let uinitr = RolesG.bindUIActions();


            //$('#phonecol').mask('(999) 999-9999');


        });

    </script>

}
